@model Books
<h3>Are you sure youn want to delete this book? </h3>
<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>price</dt>
    <dd>@Model.price</dd>
</dl>
<form asp-action="Delete"asp-controller="Book">
    <input asp-for="Id"type="hidden" />
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-action="Index" class="btn btn-secondary" >No</a>
</form>
